/* General
================================================
*/

body {
    font-family: apple-system;
    font-size: 14px;
    line-height: 24px;
    background-color: #b3e5fc;
    /* color: black; */
}

.footer {
    margin-top: 10vh;
    padding-bottom: 15vh;
    text-align: center;
}

.text {
    display: inline-block;
    color: black;
}

.nav {
    background-color: #b3e5fc;
}

.nav-wrapper {
    background-color: #01579b;
}

.nav-link {
    font-size: 16px;
}

#calculator{
    margin-left: 20vw;
    margin-bottom: 10vh;
}